{{ attach_library('casella/google_maps') }}
{{ attach_library('casella/markerclusterer') }}
{{ attach_library('casella/respond') }}
{{ attach_library('casella/enquire') }}
{{ attach_library('casella/ios-orientationchange-fix') }}
{{ attach_library('casella/staticmap') }}

{% block preTitleSection %}{% endblock %}

{% block titleSection %}
<div class="internal-headerPanel-container locations-map">
  <div class="globalWidth">
    {% block title %}
      <h1>{{ title }}</h1>

      {{ content.field_hero_text }}

      {{ highlighted }}

      {# drop a notification if this item is unpublished #}
      {% if logged_in and not node.isPublished() %}
        {% include "@casella/includes/unpublished-notice.html.twig" %}
      {% endif %}

      {{ help }}

      {% block heroBreadcrumbs %}
        {% if breadcrumbOverride %}
          <div class="sectionMenu-breadCrumb-container cf{% if not subsection %} not-subsection{% endif %}">
            <div class="globalWidth">
              <div class="sectionMenu-breadCrumb-wrapper">
                {{ breadcrumbOverride }}
              </div>
            </div>
          </div>
        {% else %}
          <!--Breadcrumbs-->
          {{ node_content.casella_breadcrumbs }}
        {% endif %}
      {% endblock %}
    {% endblock %}
  </div>
</div>
{% endblock %}

{% block featuredMedia %}{% endblock %}

<!--Main Body Region-->
<div>
  <div>
    <!--Visual Map & Search Container-->
    <div class="locationMap-container">

      <!--Map: Content Column - Left-->
      <div class="locationMap-contentCol-container equalize">
        <div class="locationMap-contentCol-wrapper">

          <!--Page Copy-->
          <div class="locationMap-pageCopy-container">
            {{ help }}

            {{ content.field_upper_content }}

            {% if addThis %}
              {% include "@casella/includes/add-this.html.twig" %}
            {% endif %}
          </div>
          <!--Page Copy-->

          <!--Search Form-->
          <div class="locationMap-searchForm-container">
            <div class="locationMap-searchForm-title">Find a facility near you...</div>
            <div class="locationMap-searchForm-container">
              <label for="edit-name" class="visually-hidden">Find a facility near you</label>
              {# Views block in node_content region #}
              {{ node_content.exposedformlocation_townspage_1__town_search }}
              <span class="icon"><i class="fa fa-search"></i></span>
            </div>
          </div>
          <!--END Search Form-->

          <!--Map Location Toggles-->
          <div class="locationMap-marker-accordion-container">
            <a href="javascript:void(0)" class="locationMap-marker-accordion-toggle">Filter Locations<span class="locationMap-marker-accordion-toggle-icon"><i class="fa fa-plus-circle"></i></span></a>
            <div class="locationMap-marker-accordion-content">
              <div class="locationMap-locationToggles-wrapper">

                <div class="locationMap-key-location-container corporate">
                  <input type="checkbox" id="corporate" class="checkbox-custom" name="corporate" value="Corporate" checked>
                  <label for="corporate" class="label-custom"><div class="inner-lable-custom">Corporate</div></label>
                </div>
                <div class="locationMap-key-location-container hauling">
                  <input type="checkbox" id="hauling" class="checkbox-custom" name="hauling" value="Hauling" checked>
                  <label for="hauling" class="label-custom"><div class="inner-lable-custom">Hauling</div></label>
                </div>
                <div class="locationMap-key-location-container landfill">
                  <input type="checkbox" id="landfill" class="checkbox-custom" name="landfill" value="Landfill" checked>
                  <label for="landfill" class="label-custom"><div class="inner-lable-custom">Landfill</div></label>
                </div>
                <div class="locationMap-key-location-container organics">
                  <input type="checkbox" id="organics" class="checkbox-custom" name="organics" value="Organics" checked>
                  <label for="organics" class="label-custom"><div class="inner-lable-custom">Organics</div></label>
                </div>
                <div class="locationMap-key-location-container recycling">
                  <input type="checkbox" id="recycling" class="checkbox-custom" name="recycling" value="Recycling" checked>
                  <label for="recycling" class="label-custom"><div class="inner-lable-custom">Recycling</div></label>
                </div>
                <div class="locationMap-key-location-container transfer">
                  <input type="checkbox" id="transfer" class="checkbox-custom" name="transfer" value="Transfer" checked>
                  <label for="transfer" class="label-custom"><div class="inner-lable-custom">Transfer/Drop-off</div></label>
                </div>

              </div>
            </div>
          </div>
          <!--Map Location Toggles-->

          {% if node_content.views_block__locations_block_8__cat_links|render|adw_strip_comments|trim %}
            <div class="locationMap-link-accordion-container">
              <a class="locationMap-marker-accordion-toggle">List Locations<span class="locationMap-marker-accordion-toggle-icon"><i class="fa fa-plus-circle"></i></span></a>
              <div class="locationMap-marker-accordion-content">
                <div class="locationMap-locationToggles-wrapper">

                  {{ node_content.views_block__locations_block_8__cat_links }}

                </div>
              </div>
            </div>
          {% endif %}

        </div>
      </div>
      <!--END Map: Content Column - Left-->

      <!--*****************************************************-->

      <!--Map: Google Map & Dynamic List Column - Right-->
      <div class="locationMap-mapCol-container equalize">
          <div class="locationMap-mapSpacer"></div>

          <!--Panel Toggles-->
          <div class="panelControllers">
            <button class="panelControlBtn active" data-rel="#content-map"><span class="fa fa-map-pin btnIconWrapper" aria-hidden="true"></span> View on Map</button>
            <button class="panelControlBtn" data-rel="#content-list"><span class="fa fa-list-ul btnIconWrapper" aria-hidden="true"></span> View as List</button>
          </div>

          <!--Map View Panel-->
          <div id="content-map" class="locationsMap-panel content-map active"></div>
          <!--END Map View Panel-->

          <!--Node Middle Content-->
          {{ node_middle_content }}
          <!--END Node Middle Content-->

      </div>
      <!--END Map: Google Map & Dynamic List Column - Right-->

    </div>
    <!--END Visual Map & Search Container-->

  </div>
</div>

{% block resourceSolutions %}{% endblock %}

<div class="locationMap-container">
    <div class="locationMap-contentCol-container--staticmap">
      <div class="mapImageContainer">
        <div class="mapContentContainer">
          <div class="globalWidth">
            <div id="titleSpacer"></div>
            <!--<div id="mapTitle" class="mapTitle">Our Operations</div>-->
            <div id="mapKey" class="mapKey">
              <form>
                <div class="mapToggles">
                  <div class="mapTogglesInnerWrapper"><label for="collection_facilities" class="mapLabel collectionLabel">Collection Facilities</label><a href="https://www.casella.com/our-locations/hauling" target="_blank" title=""><i class="fa fa-external-link-square"></i></a></div>
                </div>

                <div class="mapToggles">
                  <div class="mapTogglesInnerWrapper"><label for="recycling_facilities" class="mapLabel recycleLabel">Recycling Facilities</label><a href="https://www.casella.com/our-locations/recycling" target="_blank" title=""><span class="fa fa-external-link-square"></span></a></div>
                </div>

                <div class="mapToggles">
                  <div class="mapTogglesInnerWrapper"><label for="organic_facilities" class="mapLabel organicLabel">Organic Facilities</label><a href="https://www.casella.com/our-locations/organics" target="_blank" title=""><span class="fa fa-external-link-square"></span></a></div>
                </div>

                <div class="mapToggles last">
                  <div class="mapTogglesInnerWrapper"><label for="landfills" class="mapLabel landfillLabel">Landfills</label><a href="https://www.casella.com/our-locations/landfills" target="_blank" title=""><span class="fa fa-external-link-square"></span></a></div>
                </div>

                <div class="mapToggles last2">
                  <div class="mapTogglesInnerWrapper"><label for="landfill_gas" class="mapLabel landfillGasLabel">Landfill Gas-to-Energy</label><a href="#" target="_blank" title=""><span class="fa fa-external-link-square"></span></a></div>
                </div>

                <div class="mapToggles last3">
                  <div class="mapTogglesInnerWrapper"><label for="transfer_stations" class="mapLabel transferLabel">Transfer Stations/Drop Off</label><a href="https://www.casella.com/our-locations/transfer-stations" target="_blank" title=""><span class="fa fa-external-link-square"></span></a></div>
                </div>

                <div style="margin:15px 0 0;"><a href="https://www.casella.com/our-locations" target="_blank" class="c-button--download" title="">Review All Locations</a></div>

              </form>
            </div>
          </div>
        </div>
        <div class="mapCustomers" style="z-index: 4;">
          <div class="c-map--headquarters">Headquarters</div>
          <div class="c-map--customers">Our Customers</div>
        </div>
        <div class="mapCaption" style="z-index: 4;">
          <p>The dots on this map represent the facilities we own and/or operate. The LFGTE plants shown in NY and VT are
            owned/operated by partners and they receive gas from our operations. The shaded areas indicate our collection
            service territory.
          </p>
        </div>
        <div id="layerCollection" class="mapLayers"><img alt="" src="/themes/custom/casella/i/map/graphic-map-susreport-wbg.png" /></div>
        <img src="/themes/custom/casella/i/map/Map-Background.png" alt="">
      </div>
      <div class="mapKeyContainer">
        <div class="mapKeyInner">
          <form class="mapKeyTogglesContainer">
            <div class="mapToggles">
              <div class="mapTogglesInnerWrapper"><label for="collection_facilities" class="mapLabel collectionLabel">Collection Facilities</label><a href="https://www.casella.com/our-locations/hauling" target="_blank" title=""><i class="fa fa-external-link-square"></i></a></div>
            </div>
            <div class="mapToggles">
              <div class="mapTogglesInnerWrapper"><label for="recycling_facilities" class="mapLabel recycleLabel">Recycling Facilities</label><a href="https://www.casella.com/our-locations/recycling" target="_blank" title=""><span class="fa fa-external-link-square"></span></a></div>
            </div>
            <div class="mapToggles">
              <div class="mapTogglesInnerWrapper"><label for="organic_facilities" class="mapLabel organicLabel">Organic Facilities</label><a href="https://www.casella.com/our-locations/organics" target="_blank" title=""><span class="fa fa-external-link-square"></span></a></div>
            </div>
            <div class="mapToggles last">
              <div class="mapTogglesInnerWrapper"><label for="landfills" class="mapLabel landfillLabel">Landfills</label><a href="https://www.casella.com/our-locations/landfills" target="_blank" title=""><span class="fa fa-external-link-square"></span></a></div>
            </div>
            <div class="mapToggles last2">
              <div class="mapTogglesInnerWrapper"><label for="landfill_gas" class="mapLabel landfillGasLabel">Landfill Gas-to-Energy</label><a href="#" target="_blank" title=""><span class="fa fa-external-link-square"></span></a></div>
            </div>
            <div class="mapToggles last3">
              <div class="mapTogglesInnerWrapper"><label for="transfer_stations" class="mapLabel transferLabel">Transfer Stations/Drop Off</label><a href="https://www.casella.com/our-locations/transfer-stations" target="_blank" title=""><span class="fa fa-external-link-square"></span></a></div>
            </div>
          </form>
        </div>
      </div>
      <div class="mapCaptionContainer">
        <div class="mapCaptionInner">
          <p>The dots on this map represent the facilities we own and/or operate. The LFGTE plants shown in NY and VT are
            owned/operated by partners and they receive gas from our operations. The shaded areas indicate our collection
            service territory.
          </p>
        </div>

      </div>
    </div>

</div>

{{ content.field_full_width_promotion }}
