{% extends theme_path ~ "/templates/content/node--subsection.html.twig" %}

{% block preTitleSection %}
  {% embed theme_path ~ "/templates/includes/subsection-earthlife-header.html.twig" %}{% endembed %}
{% endblock %}

{% block right_sidebar %}

  {% if hasPromos or parentLogo or hasNav %}
    <!--Col - Sidebar-->
    <div class="internal-mainBody-sidebarContainer">

      {% if parentLogo %}
        <div class="sidebar-sectionSpecific-logo">
          <a href="{{ parentLogoPath }}" title="">
            <img src="{{ parentLogo }}" alt="" />
          </a>
        </div>
      {% endif %}

      {% if sidebar_nav.earthlife|render|adw_strip_comments|trim %}
        {{ sidebar_nav.earthlife }}
      {% else %}
        {{ sidebar_nav.footer }}
      {% endif %}

      {{ content.field_sidebar_promotions }}

    </div>
    <!--END Col - Sidebar-->
  {% endif %}
{% endblock %}
