{{ attach_library('casella/google_maps') }}
{{ attach_library('casella/markerclusterer') }}
{{ attach_library('casella/respond') }}
{{ attach_library('casella/enquire') }}
{{ attach_library('casella/ios-orientationchange-fix') }}

{% block preTitleSection %}{% endblock %}

{% block titleSection %}
<div class="internal-headerPanel-container locations-map">
  <div class="globalWidth">
    {% block title %}
      <h1>{{ title }}</h1>

      {{ content.field_hero_text }}

      {{ highlighted }}

      {# drop a notification if this item is unpublished #}
      {% if logged_in and not node.isPublished() %}
        {% include theme_path ~ "/templates/includes/unpublished-notice.html.twig" %}
      {% endif %}

      {{ help }}

      {% block heroBreadcrumbs %}
        {% if breadcrumbOverride %}
          <div class="sectionMenu-breadCrumb-container cf{% if not subsection %} not-subsection{% endif %}">
            <div class="globalWidth">
              <div class="sectionMenu-breadCrumb-wrapper">
                {{ breadcrumbOverride }}
              </div>
            </div>
          </div>
        {% else %}
          <!--Breadcrumbs-->
          {{ node_content.casella_breadcrumbs }}
        {% endif %}
      {% endblock %}
    {% endblock %}
  </div>
</div>
{% endblock %}

{% block featuredMedia %}{% endblock %}

<!--Main Body Region-->
<div>
  <div>
    <!--Visual Map & Search Container-->
    <div class="locationMapHolidaySchedule-container">
      <!--Map: Content Column - Left-->
      <div class="locationMap-contentCol-container equalize">
        <!--Page Copy-->
        <div class="locationMap-pageCopy-container center">
          {{ help }}

          {{ content.field_upper_content }}

          {% if addThis %}
            {% include "/" ~ theme_path ~ "/templates/includes/add-this.html.twig" %}
          {% endif %}
        </div>
        <!--Page Copy-->

        <!--Search Form-->
        <div class="locationMap-searchForm-container center">
          <div class="locationMap-searchForm-title">Find the holiday schedule of a facility near you...</div>
          <div class="locationMap-searchForm-container">
            {{ node_content.exposedformlocation_townspage_2 }}
            <span class="icon"><i class="fa fa-search"></i></span>
          </div>
        </div>
        <!--END Search Form-->
      </div>
      <!--END Map: Content Column - Left-->

      <!--*****************************************************-->

      <div class="locationMap-mapCol-container equalize center">
          <div class="locationMap-mapSpacer"></div>

          <!--Map View Panel-->
          <div id="content-list" class="locationsMap-panel content-list active"></div>
          <!--END Map View Panel-->

          {{ node_middle_content }}

      </div>
      <!--END Map: Google Map & Dynamic List Column - Right-->

    </div>
    <!--END Visual Map & Search Container-->

  </div>
</div>

{% block resourceSolutions %}{% endblock %}

{{ content.field_full_width_promotion }}
