{% extends theme_path ~ "/templates/content/node--page-default.html.twig" %}

{% block contentGrid %}
  <div class="internal-mainBody-layoutContainer">
    <div class="internal-mainBody-contentContainer">
      <div class="internal-mainBody-generalTxt-container">
        <div class="job-indListing-framework-container">

          <div class="job-indListing-framework-referenceContainer">
            <div class="job-indListing-framework-referenceWrapper">
              <ul>
                <li><span class="job-indListing-framework-reference-title">Reference:</span> JOB{{ node.id() }}</li>
                {% if locationState and locationCity %}
                  <li><span class="job-indListing-framework-reference-title">Location:</span> {{ locationCity }}, {{ locationState }}</li>
                {% endif %}
                <li><span class="job-indListing-framework-reference-title">Company:</span> {{ content.field_location }}</li>
                <li><span class="job-indListing-framework-reference-title">Status:</span> {{ content.field_job_status }}</li>
              </ul>

              {% if activeJob %}
                <!--Apply - Toggle-->
                <div class="job-indListing-applyToggle">
                  <a href="#active-job-apply" title=""><span class="fa fa-check-square-o btnIconWrapper" aria-hidden="true"></span> Apply Today</a>
                </div>
                <!--END Apply - Toggle-->
              {% endif %}

            </div>
          </div>

          <div class="job-indListing-framework-contentContainer">
            {{ highlighted }}

            {# drop a notification if this item is unpublished #}
            {% if logged_in and not node.isPublished() %}
              {% include theme_path ~ "/templates/includes/unpublished-notice.html.twig" %}
            {% endif %}

            {{ help }}

            {{ content.body }}

            {% if addThis %}
              {% include "/" ~ theme_path ~ "/templates/includes/add-this.html.twig" %}
            {% endif %}

            {% if activeJob %}
              <!--Apply - Toggle-->
                <div class="job-indListing-applyToggle">
                  <a href="#active-job-apply" title=""><span class="fa fa-check-square-o btnIconWrapper" aria-hidden="true"></span> Apply Today</a>
                </div>
                <!--END Apply - Toggle-->

              <a name="activeJob" id="active-job-apply"></a>
              <!--Toggle Form-->
              <div class="job-indListing-formToggle-container">

                {% if application_intro %}
                  <div class="job-indListing-formToggle-info">{{ application_intro }}</div>
                {% endif %}

                  {# conditional based on what type of job app this is. Driver's now have their own #}
                  {% if 'driver' in content.field_job_categories|render|striptags|adw_strip_comments|trim|lower %}
                      {{ attach_library('casella/driver-form') }}
                      {{ form_container_drivers }}
                  {% else %}
                      {{ form_container }}
                  {% endif %}

              </div>
              <!--END Toggle Form-->
            {% endif %}

          </div>

        </div>
      </div>
    </div>
  </div>
{% endblock %}
