{% extends theme_path ~ "/templates/content/node--page.html.twig" %}

{% block contentGrid %}
  <div class="cutomerCare-btnRow-container">

    <!--Ind Customer Care Btn:: Form-->
    <div class="cutomerCare-btnRow-IndBtn-container">
      <div class="cutomerCare-btnRow-IndBtn-innerContainer">
        <div class="cutomerCare-btnRow-IndBtn-wrapper" style="height: 219px;">
          <div class="cutomerCare-btnRow-IndBtn-innerWrapper">
            <div class="cutomerCare-btnRow-IndBtn-title">Find my local provider</div>
            <div class="cutomerCare-btnRow-IndBtn-form">
              <form method="get" action="{{ locationSearchPath }}" id="location-search">
                <div class="locationSearchWrapper">
                  <input name="city" type="text" size="40" class="locationSearchField" placeholder="town/city...">
                  <button type="submit" class="locationSearchSubmit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--END Ind Customer Care Btn:: Form-->

    {{ content.field_upper_buttons }}

  </div>

  <div class="internal-mainBody-layoutContainer">

    <!--Col - Content-->
    <div class="internal-mainBody-contentContainer">

      {{ highlighted }}
      {{ help }}

      <!--General Txt - Body-->
      <div class="internal-mainBody-generalTxt-container">
        {{ content.body }}
      </div>
      <!--END General Txt - Body-->


      <!--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%-->


      <!--General Txt - FAQ-->
      <section class="cd-faq">

        {{ content.field_faqs }}

        <a href="#0" class="cd-close-panel">Close</a>
      </section>
      <!--END General Txt - FAQ-->

    </div>
    <!--Col - Content-->

    <!--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%-->

    <!--Col - Sidebar-->
    {%  if content.field_sidebar_promotions|render|trim %}
      <div class="internal-mainBody-sidebarContainer">
        {{ content.field_sidebar_promotions }}
      </div>
    {% endif %}

  </div>
{% endblock %}
