<div class="internal-indInteractivePanelContainer">
  <div class="internal-mainBody-container">
    <div class="internal-indInteractivePanelContainer">

        <nav role="navigation" class="resources-nav">
          <ul>
            <li><a href="#tips">Tips</a></li>
            <li><a href="#videos">Videos</a></li>
            <li><a href="#toolkits">Toolkits</a></li>
          </ul>
        </nav>

      <div class="internal-mainBody-layoutContainer">
        <div class="internal-mainBody-contentContainer">
          <div class="internal-mainBody-generalTxt-container">
            <p>{{ content.field_tab_description }}</p>
            <h2 id="tips" class="internal-page-anchor-offset">Tips</h2>
            <p>{{ content.field_resource_panel_tip_descrip }}</p>
            {% block resourceTips %}
              <div class="resources-listings-group">
                {{ content.field_resource_panels }}
              </div>
            {% endblock %}
            <h2 id="videos" class="internal-page-anchor-offset">Videos</h2>
            <p>{{ content.field_resource_panel_video_descr }}</p>
            <div class="resources-listings-group">
              {{ content.field_resource_panel_video }}
            </div>
            <h2 id="toolkits" class="internal-page-anchor-offset">Toolkits</h2>
            <p>{{ content.field_resource_panel_toolkit_des }}</p>
            {{ content.field_resource_panel_toolkit }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
