{%
set classes = [
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
'internal-indInteractivePanelContainer',
]
%}
{% if content.field_promotion|render|adw_strip_comments|trim %}
  {% set classes = classes|merge(['withPromo']) %}
{% endif %}

<div>
  <div{{ attributes.addClass(classes) }}>
    <div class="c-career-panel--right">
      <div class="c-career-panel--text">
        {{ content.field_tab_title }}
        <div class="c-career-panel--body">
          {{ content.field_tab_description }}
        </div>
      </div>
      <div class="c-career-panel--media">
        {{ content.field_image }}
        {{ content.field_career_video }}
      </div>
    </div>
  </div>
</div>
