{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}

{% if breadcrumb %}
  {% if schema != false %}
    <script type="application/ld+json">
      {{ schema|raw }}
    </script>
  {% endif %}
  {% block breadcrumbs %}
    <div class="internal-headerPanel-breadcrumbs">
      <h2 class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
      <ul>
        <li><a href="/" title=""><span class="fa fa-home" aria-hidden="true"></span></a></li>
        {% for item in breadcrumb %}
          <li>
            {% if item.url %}
              <a href="{{ item.url }}">{{ item.text }}</a>
            {% else %}
              {{ item.text }}
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endblock %}
{% endif %}
