<div class="internal-indInteractivePanelContainer">
  <div class="internal-mainBody-container">
    <div class="internal-indInteractivePanelContainer">
      <div class="internal-mainBody-layoutContainer">
        <div class="internal-mainBody-contentContainer" style="padding-right: 50px">
          {{ content.field_tab_description }}
          <div class="internal-mainBody-generalTxt-container">
            {{ content.field_dos_and_donts_section }}
          </div>
        </div>
        <div class="internal-mainBody-sidebarContainer">
          <div class="internal-mainBody-generalTxt-container">
            <h3>{{ content.field_sidebar_section_title }}</h3>
          </div>
          {{ content.field_recycle_sidebar_items }}
        </div>
      </div>
    </div>

    <div class="bin-comparison-container">
      {{ content.field_bin_comparisons }}
    </div>
  </div>
</div>


