{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}

{% include "/" ~ theme_path ~ "/templates/includes/search-panel.html.twig" %}

{% if subsectionName != '' %}
  <!--Larger Nav Reveal-->
  <div id="collapsedNav" class="cf">
    <div class="globalWidth">
      <div class="collapsed-headerLogo">
        {% if not is_front %}<a href="{{ base_url }}" title="home">{% endif %}
          {% embed '/' ~ theme_path ~ "/templates/includes/casella-logo.html.twig" %}{% endembed %}
        {% if not is_front %}</a>{% endif %}
      </div>
      <div class="collapsed-headerTrigger-wrapper"><a class="collapsed-headerTrigger mainMenuToggle"></a></div>
    </div>
  </div>
  <!--END Larger Nav Reveal-->
{% endif %}


<!--NAVIGATION REGION-->
<div{{ attributes|without('id') }} id="generalNav">

  <!--Global Nav-->
  <div class="navGlobal-container">
    <div class="navGlobal-wrapper">

      <!--Bill Pay-->
      <div class="navGlobal-indCTABtn-Container billPay">
        <a href="{{ bill_pay }}" title="" class="navGlobal-indCTABtn" target="_blank">
          <div class="navGlobal-indCTABtn-iconWrapper"><img src="/{{ theme_path }}/i/misc/payBill-icon.png" alt=""></div>
          <div class="navGlobal-indCTABtn-txtWrapper">Online <span>Bill Pay</span></div>
        </a>
      </div>
      <!--END Bill Pay-->

      <!--Customer Care-->
      <div class="navGlobal-indCTABtn-Container customerCare">
        <a href="{{ customer_care }}" title="" class="navGlobal-indCTABtn">
          <div class="navGlobal-indCTABtn-iconWrapper"><img src="/{{ theme_path }}/i/misc/customerCare-icon.png" alt=""></div>
          <div class="navGlobal-indCTABtn-txtWrapper">Customer <span>Care</span></div>
        </a>
      </div>
      <!--END Customer Care-->

      <!-- IR -->
      <div class="navGlobal-indCTABtn-Container investorRelations">
        <a href="http://ir.casella.com" title="" class="navGlobal-indCTABtn" target="_blank">
          <div class="navGlobal-indCTABtn-iconWrapper"><img src="/{{ theme_path }}/i/misc/IR-icon.png" alt=""></div>
          <div class="navGlobal-indCTABtn-txtWrapper">Investor <span>Relations</span></div>
        </a>
      </div>
      <!-- END IR -->

      <!-- Careers -->
      <div class="navGlobal-indCTABtn-Container careers">
        <a href="https://careers-casella.icims.com/jobs/intro?hashed=-625979088" title="" class="navGlobal-indCTABtn">
          <div class="navGlobal-indCTABtn-iconWrapper"><img src="/{{ theme_path }}/i/misc/career-icon2.png" alt=""></div>
          <div class="navGlobal-indCTABtn-txtWrapper">Careers</div>
        </a>
      </div>
      <!-- End Careers -->

    </div>
  </div>
  <!--END Global Nav-->

  <div class="navContainer">
    <div class="navInnerContainer">

      <!--Header Logo Region-->
      <div class="headerLogo">
        {% if not is_front %}
          <a href="{{ base_url }}" title="home">
        {% endif %}
        {% embed '/' ~ theme_path ~ "/templates/includes/casella-logo.html.twig" %}{% endembed %}
        {% if not is_front %}
          </a>
        {% endif %}
      </div>

      <!--Mobile Btn Set-->
      <div class="mobileBtnWrapper">
        <a href="#menu" class="mainMenuToggle"></a>
      </div>
      <!--END Mobile Btn Set-->

      {{ content }}

    </div>
  </div>
</div>
<!--END NAVIGATION REGION-->

<!--Mobile Bill Pay-->
<div class="mobile__billpay">
  <div class="globalWidth"><a href="https://secure3.i-doxs.net/casella/default.asp" title="" target="_blank"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> Access Online Bill Pay</a></div>
</div>
<!--END Mobile Bill Pay-->
